footer {
    padding:30px 0;
    background: $grey-6;
    .footer-link-head {
        font-size: $size-5;
        margin: 8px 0;
        color: $tertiary-color;
        font-family: $secondary-font;
    }
    ul {
        margin-top: 5px;
        li {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            a {
                color: $tertiary-color;
                font-size: $size-3;
                text-align: left;
            }
            a:hover,a:active,a:focus {
                text-decoration: underline;            
            }
        }
    }
    .footer-socials {
        ul {
            margin-top:20px;
            li {
                display: inline-block;
                width: auto;
                margin: 0 8px 5px 8px;
                a {
                    i {
                        font-size: $size-4;
                    }
                }
                a:hover,a:active,a:focus {
                    text-decoration: none;            
                }
            }
        }
    }
    .footer-clients {
        ul {
            margin:20px auto;
            li {
                display: inline-block;
                width: auto;
                margin: 10px 20px;
                vertical-align: middle;
                a:hover,a:active,a:focus {
                    text-decoration: none;            
                }
            }
        }
    }
    .footer-copyright {
        p {
            text-align: center;
            margin: 20px auto;
        }
    } 
}