header
.theTop {background:$primary-color;}
.theMain {background: $secondary-color;} 

ul.topNav {
    margin: 0 auto;
  li {
        a {
            color: #f2f2f2;
        }
        a:hover,a:active, a:focus {
            background-color: $green-4;
            color: $green-5;
        }
        
    }
}
ul.mainNav {
    margin: 0 auto;
    li {
      a {color: $grey-2;}
      a:hover,a:active,a:focus {color:$grey-7;}
    }
}
.search{
  position: relative;
  
input[type=text] {
    float: right;
    padding: 6px 10px;
    background: $grey-1;
    border-radius: 100px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    box-shadow: inset 0 1px 1px $grey-3;
    //width: 180px;
  }
} 
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 13px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 13px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 13px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
  }
.page-wrapper {
  .security {
    font-size: $size-2;
    color: $tertiary-color;
  }
  .enquiry-btn {
    height: 34px;
    span {color: $tertiary-color; font-size: $size-3}
  }
}
.counter {
  padding: 7px 0;
    span {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: $size-4;
    background: $primary-color;
    color: $white;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
  }
}
.m-menu {
  .bm-menu {left:0 !important}
  .bm-burger-button {left:36px !important}
  .bm-burger-button::after {
    content: "Menu";
    font-size: 20px;
    color: $green-7;
    margin: 0;
    position: relative;
    left: 46px;  
  }
}
.t-menu {
 .bm-burger-button::before {
  content: "More +";
  font-size: 20px;
  color: #6b7c55;
  margin: 0;
  position: relative;
  right: 74px;
  bottom: 0;
  width: 200px;
  display: inline-block;
}
}
.bm-burger-bars {
  background-color: $green-7;
}
.bm-overlay {
  background: none;
}
 @media screen and (max-width: 600px) {
    .topNav a:not(:first-child) {display: none;}
    .topNav a.icon {
      float: right;
      display: block;
    }
    .topNav.responsive {position: relative;}
    .topNav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .search input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .search input[type=text] {
        border: 1px solid #ccc;
      }
  }
  
  