$primary-color:#b9d592;
$secondary-color:#f5f7fa;
$tertiary-color:#76828c;

$white: #ffffff;

$grey-1:#ebeff3;
$grey-2:#a5adb3;
$grey-3:#cbced2;
$grey-4:#e4e9ef;
$grey-5:#f8f9fb;
$grey-6:#e6e9eb;
$grey-7:#7b8690;

$green-1:#c8e1a4;
$green-2:#7f8c76;
$green-3:#768b5a;
$green-4:#dfeccd;
$green-5:#63734e;
$green-6:#d7e8ba;
$green-7: #6b7c55;
/* sizes */
$size-1: .65rem; /* 12px */
$size-2: .7rem; /* 13px */
$size-3: .9rem; /* 17px */
$size-4: 1rem; /* 19px */
$size-5: 1.5rem; /* 28.5px */
$size-6: 2rem; /* 38px */
$size-7: 2.5rem; /* 47.5px */
$size-8: 3rem; /* 57px */

/* Fonts */
$primary-font: Tahoma, Arial, Helvetica, sans-serif;
$secondary-font: 'Didact Gothic', sans-serif;